<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>UY! A SUCEDIDO UN ERROR {{ status_text }}</title>
    </head>
    <body>
        <h1>upss!!! UN ERROR EN LA PAGINA</h1>
        <h2>Error 404 el servidor reinicia la conexion.</h2>

        
    </body>
</html>
