{% extends 'base.html.twig' %}

{% block contenido %}
	<h1> Telefonos de interes</h1>
<ul>
	<li type=square> Telefono fijo: 944 024 533
	<li type=square>Telefono Movil: 673 444 555
</ul><br>
<h1> E-mail</h1>
<p> sergio@srproducciones.com</p>
    
{%endblock%}
