{% extends 'base.html.twig' %}

{% block contenido %}
     <div id="Texto">
	<h1>Srubio producciones es una empresa ficticia</h1><br>
	<p> creada en ASIR2 para hacer los trabajos de la asignatura Implantancion de aplicaciones web</p>
	</div>
    
{%endblock%}
